.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.search-bar {
  width: 50px;
  border: none;
  padding: 10px;
}
.search-button {
  background-color: lightcoral;
  padding: 10px 20px;
  border: none;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
